<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block title %}

    {% endblock %}

    {% include 'base_htmls/html_dependencies.html' %}

</head>
<body id="BODY_BASE">
<div class="container" id="myDIV1">
    <div class="row">
        <div class="">
            <h1><i class="fas fa-spinner fa-pulse"></i> Processing...</h1>
            <p>Please wait. This will take a few minutes</p>
        </div>
        <div class="animationload">
            <div class="osahanloading"></div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function myFunction() {
        $('#BODY_BASE').hide();
        var x = document.getElementById("myDIV1");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
    }
}
$(document).ready(function() {
   $('#myDIV1').hide();
});
</script>

<br><br><br>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: #e3f2fd;" id="navbar">

    <div class="container">

        <div class="navbar-header">

            <a href="/" class="navbar-brand" title="Home"><i class="far fa-sticky-note"></i>   Note-it™</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a href="{{ url_for('notes.notes') }}" class="nav-link"><i class="far fa-clone"></i> Shared Notes</a></li>
                <li class="nav-item active"><a href="{{ url_for('home3') }}" class="nav-link"><i class="fas fa-users"></i></a></li>
            </ul>

            {% if session['email'] %}

            <ul class="nav navbar-nav navbar-right justify-content-end ml-auto">
                <li class="nav-item active"><a href="{{ url_for('notes.user_notes') }}" class="nav-link"><i class="fas fa-sticky-note"></i></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right justify-content-end">
                <li class="nav-item active"><a href="{{ url_for('users.user_page', user_id=session['email']) }}" class="nav-link"><i class="fas fa-user-circle"></i></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right justify-content-end ">
                <li class="nav-item active"><a href="{{ url_for('home4') }}" class="nav-link"><i class="fab fa-rocketchat"></i></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right justify-content-end ">
                <li class="nav-item active"><a href="{{ url_for('users.logout_user') }}" class="nav-link"><i class="fas fa-sign-out-alt"></i>    Log out</a></li>
            </ul>

            {% else %}

            <ul class="nav navbar-nav navbar-right justify-content-end ml-auto">
                <li class="nav-item active"><a href="{{ url_for('users.register_user') }}" class="nav-link"><i class="fas fa-user-plus"></i>   Sign up</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right justify-content-end">
                <li class="nav-item active"><a href="{{ url_for('users.login_user') }}" class="nav-link"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
            </ul>

            {% endif %}

        </div>

    </div>

</nav>
<div class="content container" id="wrapper">
    {% with messages = get_flashed_messages() %}
    <script>
        var messages = {{ messages|tojson }};
        if (messages != []) {
          //for (var message in messages) {
          messages.forEach(function (message) {
           $.notify('<i class="fas fa-info"></i> Info <hr> '+message, { allow_dismiss: true, type: 'info', showProgressbar: false });
          });
        }
    </script>
    {% endwith %}

    {% block content %}

    {% endblock %}
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<footer class="container-fluid bg-4 text-center footer">

    <div class="footer-size jumbotron">

        <p></p>

        <p id="demo"></p>

        <script>
var myVar = setInterval(myTimer, 1000);

function myTimer() {
    var d = new Date();
    document.getElementById("demo").innerHTML = d.toLocaleTimeString();
}

</script>


        <h7><span class="glyphicon glyphicon-console"></span> Made by <a href="https://www.jetbrains.com/pycharm/">Pycharm</a>
            and
            <a href="http://flask.pocoo.org/">Flask</a> and <i class="fab fa-python"></i> <a href="https://www.python.org/">Python</a></h7>


    </div>

</footer>

</body>
</html>