{% extends "base_htmls/base.html" %}
{% block title %}
<title>Note-it™ | 5xx Server Error</title>
<!--<script>-->
<!--alert('There was an Server error.Please report to the service senter(010-2901-5627).');-->
<!--setTimeout(function () {-->
<!--window.location.href = "/"; //will redirect to your blog page (an ex: blog.html)-->
<!--}, 1000); //will call the function after 2 secs.-->



<!--</script>-->

{% endblock %}

{% block content %}
<h1>You will be redirected in a moment!!</`h1>
<div id="block_error">
    <div>
        <h2>Error 404. &nbspOops you've have encountered an error</h2>
        <p>
            It apperrs that Either something went wrong or the page doesn't exist anymore..<br />
            This website is temporarily unable to service your request as it has exceeded it’s resource limit. Please check back shortly.
        </p>
    </div>
</div>
{% endblock %}