{% extends "base.html" %}
{% block title %}
<title>Note-it™ | Add Note to Group</title>
{% endblock %}
{% block content %}

{% if error_msg %}
<div class="alert alert-danger" role="alert">
    <i class="fas fa-exclamation-triangle"></i> {{ error_msg }}
</div>
{% endif %}
<div class="container">

    <div class="">

        <h1><i class="fas fa-parachute-box"></i>  <i class="far fa-plus-square fa-xs"></i> Add Notes to Group</h1>

        <p>Select, and submit!</p>

    </div>

    <br>

    <hr>
    <script type="text/javascript">

    function myFunction() {
        $('#MAINDIV').hide();
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
    }
}
$(document).ready(function() {
   $('#myDIV').hide();
});
</script>

    <div class="container-fluid" id="MAINDIV">

        <div>
            <h1><i class="fas fa-sticky-note"></i> Your notes</h1>
        </div>
        <gr>
            <hr></gr>
        <div>
            <form method="POST">

                {% for note in notes %}
                <label class="list-group-item list-group-item-action flex-column align-items-start">

                    <div class="d-flex w-100 justify-content-between">
                        <input type="checkbox" name="selected_notes" id="{{ note._id }}" value="{{ note._id }}">
                        <h4 class="mb-1">
                            <a href="{{ url_for('notes.note', note_id=note._id) }}" ><i class="far fa-sticky-note"></i>  {{ note.title }}</a></h4>

                        <p class="list-group-item-text">Created date <strong>{{ note.created_date.strftime("%Y-%m-%d at %H:%M") }}</strong></p>

                    </div>
                    <p class="mb-1"><span class="badge badge-pill badge-secondary">{{ note.share_label }}</span></p>

                </label>
                {% endfor %}

                {% if notes == [] %}
                <div class="oaerror info">
                    <strong><i class="fas fa-meh"></i> Umm...</strong> - Seems like you have no notes! <a href="{{ url_for('notes.create_note') }}">Create note</a>
                </div>
                {% endif %}
                <br>

                <div class="card">

                    <div class="card-body">
                        <button class="btn btn-outline-info" type="submit">Share note</button>
                    </div>

                </div>

            </form>
        </div>

    </div>

</div>
{% endblock %}