{% extends "base.html" %}
{% block title %}
    <title>Note-it™ | My Notes</title>
{% endblock %}
{% block content %}

    <div class="page-header">

        <h1><strong>{{ user_name.split('@')[0] }}</strong>'s Notes</h1>

    </div>

    <hr class="my-4">

    <div class="list-group">

        {% if user_notes == [] or user_notes == None %}

            <div class="alert alert-primary" role="alert"><i class="fas fa-info-circle"></i>
                There are no notes!You can make a note by clicking the button below.
            </div>

        {% endif %}

        {% for note in user_notes %}

             <a href="{{ url_for('notes.note', note_id=note._id) }}" class="list-group-item list-group-item-action flex-column align-items-start">

                 <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">
                    {{ note.title }}</h4>

                     <p class="list-group-item-text">Created date <strong>{{ note.created_date.strftime("%Y-%m-%d at %H:%M") }}</strong></p>
                 </div>

            </a>

        {% endfor %}
    </div>

    <br>

    <a href="{{ url_for('notes.create_note') }}" class="btn btn-outline-success" role="button">Make a new note</a>

{% endblock %}