{% extends "base_htmls/base.html" %}
{% block title %}
<title xmlns:android="http://www.w3.org/1999/xhtml">Note-it™ | Note {{ note.title }}</title>
{% endblock %}

{% block content %}

<div class="card">

    <div class="card-body">
        <h1><small>Note     </small><strong>  {{ note.title }}</strong> </h1>  <p class="text-muted">Author: {{ note.author_nickname }}</p>
        <p class="text-muted">{{ note.created_date.strftime("%Y-%m-%d at %H:%M") }}</p>
    </div>

</div>

<hr class="my-4">
<style>
    .video-js .vjs-menu-button-inline.vjs-slider-active,.video-js .vjs-menu-button-inline:focus,.video-js .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 100%;
    height: 100%;
}

.video-js .vjs-controls-disabled .vjs-big-play-button {
    display: none!important
}
.button_ {
     background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: alias;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;

}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
</style>
<div class="jumbotron" id="main" style="padding: 30px; margin-bottom: 10px; margin-left: 0px; margin-right: 0px;">
    <!--<div class="container" id="myDIV">-->
    <!--<div class="row">-->
    <!--<div class="">-->
    <!--<h1><i class="fas fa-spinner fa-pulse"></i> Processing...</h1>-->
    <!--<p>Please wait. This will take a few minutes</p>-->
    <!--</div>-->
    <!--<div class="animationload">-->
    <!--<div class="osahanloading"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="container" id="loader">
        <p class="text-center font-weight-bold"><strong>{{ note.content }}</strong></p>
    </div>

    <br>
    <hr class="my-4">

    {% if url == None %}

    {% else %}
    <h5>Media files: </h5>
    <br>
    <div class="row flex-container">
        {% for url_ in url %}
        {% if url_['is_video'] %}
        <div class="column" style="margin: 20px; 20px; 50px; 20px;">
            <video class="video-js vjs-default-skin vjs-16-9" preload="auto" data-setup='{"fluid": true}' controls height="100%" width="100%">
                <source src="{{ url_['url'] }}" type="video/mp4">
                <source src="{{ url_['url'] }}" type="video/{{ url_['extension'] }}">
                Your browser does not support the video tag. Please use Chrome or Firefox
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
            <div style="font-size:1.2em; color:Tomato" class="rounded mx-auto d-block">
                <a href="{{ url_['url'] }}" download="_.{{ url_['extension'] }}" title=""><i class="fas fa-download">{{ url_['filename'] }}</i></a>
                <button class="button_" onclick="{{ url_['filename_only'] }}();">{{ url_['filename'] }}</button>
                <script>
                    function {{ url_['filename_only'] }}() { window.open(
                    '{{ url_['url'] }}',
                    '{{ url_['filename'] }}',
                    "menubar=1,resizable=1,width=1000,height=1000,resizeable"
                  );return false;  }

            </script>
            </div>
        </div>

        {% elif url_['is_pic'] %}
        <div class="column" style="margin: 20px; 20px; 50px; 20px;">
            <img src="{{ url_['url'] }}" alt="" class="rounded mx-auto d-block text-center"  height="100%" width="100%">
            <br>
            <div style="font-size:1.2em; color:Tomato" class="rounded mx-auto d-block">
                <a href="{{ url_['url'] }}" download="_.{{ url_['extension'] }}" title=""><i class="fas fa-download">{{ url_['filename'] }}</i></a>
                <button class="button_" title="" onclick="{{ url_['filename_only'] }}();">{{ url_['filename'] }}</button>
                <script>
                    function {{ url_['filename_only'] }}() { window.open(
                    '{{ url_['url'] }}',
                    '{{ url_['filename'] }}',
                    "menubar=1,resizable=1,width=1000,height=1000,resizeable"
                  );return false;  }
                </script>
            </div>
        </div>
        {% else %}
        <div style="font-size:1.2em; color:Tomato margin: 10px; 10px; 10px; 10px;" class="rounded mx-auto d-block column" >
            <a href="{{ url_['url'] }}" download="_.{{ url_['extension'] }}" title=""><i class="fas fa-download">{{ url_['filename'] }}</i></a>
        </div>

        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="card">

    <div class="card-body">

        <a href="{{ url_for('users.user_page', user_id=user._id) }}" class="btn btn-outline-secondary" role="button">View Author ({{ note.author_nickname }})</a>

        {% if author_email_is_session %}
        <!--href="{{ url_for('.delete_note', note_id=note._id) }}" -->
        <a href="#" class="btn btn-outline-info" role="button" data-toggle="modal" data-target="#exampleModal1">Add To Box</a>
        <a href="#" class="btn btn-outline-danger" role="button" data-toggle="modal" data-target="#exampleModal">Delete</a>
        <a href="{{ url_for('message.send_note_radio', note_id=note._id) }}" class="btn btn-outline-info" role="button">Send Note</a>

        <a href="{{ url_for('.edit_note', note_id=note._id) }}" class="btn btn-outline-info" role="button">Edit</a>
        <a href="" android:layout_width="wrap_content" android:layout_height="wrap_content" class="btn btn-outline-info"  data-toggle="modal" data-target="#downloadmodel"><i class="fas fa-download"></i>  Download</a>

        {% endif %}

    </div>



    <div class="modal fade" id="downloadmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2"><i class="fas fa-download"></i>  Download</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><i class="far fa-file-alt"></i> Files</p>

                    <ul class="list-group" style="font-size: 1.2em;">
                        {% for url_ in url %}
                        {% if url_['is_video'] %}
                        <a href="{{ url_['url'] }}" download="_.{{ url_['extension'] }}"><li class="list-group-item"><i class="far fa-file-video"></i> {{ url_['filename'] }}</li></a>

                        {% elif url_['is_pic'] %}
                        <a href="{{ url_['url'] }}" download="_.{{ url_['extension'] }}"><li class="list-group-item"><i class="far fa-file-image"></i> {{ url_['filename'] }}</li></a>

                        {% else %}
                        <a href="{{ url_['url'] }}" download="_.{{ url_['extension'] }}"><li class="list-group-item"><i class="far fa-file"></i> {{ url_['filename'] }}</></a>

                        {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="modal-footer">


                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1"><i class="fas fa-plus-circle"></i>  Add To Box</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action="{{ url_for('notes.add_to_box', note_id=note._id) }}" method="POST">
                        <div class="input-group mb-3">
                            <label for="inputGroupSelect01">
                                Select Box
                            </label>
                            {% for box in all_boxs %}
                            <label class="list-group-item list-group-item-action flex-column align-items-start" id="inputGroupSelect01">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><a href="{{ url_for('boxs.box', box_id=box._id) }}">{{ box.name }}</a></h5>
                                    <small class="text-muted">{{ box.created_date.strftime("%Y-%m-%d at %H:%M") }}</small>
                                    <input type="radio" value="{{ box._id }}" name="box" id="box" />
                                </div>
                            </label>

                            {% endfor %}
                        </div>

                        <button type="submit" class="btn btn-outline-success">Add</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
                <div class="modal-footer">


                </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-trash-alt"></i>  Delete note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i>
                    Do you really want to delete this note?
                    <p>If you delete this note, it would be permanently deleted!</p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <a href="{{ url_for('.delete_note', note_id=note._id) }}" class="btn btn-outline-danger" role="button">Permanently Delete</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
window.HELP_IMPROVE_VIDEOJS = false;

    function myFunction() {
        $('#main').hide();
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
    }
}
$(document).ready(function() {
   $('#myDIV').hide();
});



</script>

{% endblock %}