{% extends "base.html" %}

{% block content %}

    <div class="page-header">

        <h1>{{ user_name.split('@')[0] }}'s Alerts  <small>showing already existing alerts</small></h1>

    </div>

    <div class="list-group">

        {% for alert in alerts %}

            <a href="{{ url_for('alerts.get_alert_page', alert_id=alert._id) }}" class="list-group-item {{ 'list-group-item-warning' if not alert.active else '' }}">

                <h4 class="list-group-item-heading">
                    {{ '<span class="glyphicon glyphicon-remove-circle"></span> '|safe if not alert.active else '' }} Alert for {{ alert.item.name }}</h4>
                <p class="list-group-item-text">Last price found <strong>{{ alert.item.price }}</strong><br>
                Last checked on <strong>{{ alert.last_checked.strftime("%Y-%m-%d at %H:%M") }}</strong></p>

            </a>

        {% endfor %}

    </div>

    <a class="btn btn-info" href="{{ url_for('alerts.create_alert') }}"><span class="glyphicon glyphicon-plus"></span> Create New Alert</a>

{% endblock %}