

.form-size {
    max-width: 900px;
    margin: 0 auto;

    background-color: #E9E9E9;
    padding: 20px;

    border: 1px solid #E1E1E1;
}

.footer-size {
  margin: 0 auto;
  padding: 20px;
  max-width: 1400px;
}

.text_box_big {
    height:200px;
    font-size:14pt;
}

.note_text_box {
    text-align: center;
}

.form-sizer {
    max-width: 900px;
    margin: 0 auto;

    background-color: #E9E9E9;
    padding: 20px;

    border: 1px solid #E1E1E1;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.group {
    border: 10px solid transparent;
    margin-bottom: 5px;

}
.group:hover {
    border-color: #f1f1f1;
}