{% extends "base3.html" %}
{% block title %}
<title>Groups.io | Group {{ group.name }}</title>
{% endblock %}
{% block content %}

<div class="container-fluid">

    <div class="page-header">
        <h1><i class="far fa-object-group"></i> Group <small class="">{{ group.name }}</small></h1>
    </div>

    <hr>

    <div class="container">
        <h3 class="text-monospace"><i class="fas fa-users"></i> Members <small>total: {{ group.members|length }}</small></h3>
    </div>

    <br>

    <div class="container">
        <div class="list-group">

            {% if members != [] %}
            {% for user in members %}

            <div class="group">
                <a href="{{ url_for('users.user_page', user_id=user._id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><i class="far fa-user-circle"></i> {{ user.nick_name }}</h5>
                        <small class="text-muted">Last logined at {{ user.last_logined.strftime("%Y-%m-%d at %H:%M") }}</small>
                    </div>
                </a>
            </div>

            {% endfor %}
            {% else %}
            <h4 class="text-muted"><i class="fas fa-question"></i> There are no members!</h4>
            {% endif %}

        </div>
    </div>

    <br>

    <div class="container">
        <h3 class="text-monospace"><i class="fas fa-sticky-note"></i> Notes <small>total: {{ shared_notes|length }}</small></h3>
    </div>

    <br>

    <div class="container">

        <div class="list-group">
            {% if shared_notes != [] %}
            {% for note in shared_notes %}

            <div class="group">
                <a href="{{ url_for('notes.note', note_id=note._id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><i class="fas fa-sticky-note"></i> {{ note.title }}</h5>
                        <small class="text-muted">Made by: {{ note.author_nickname }}</small>
                        <small class="text-muted">Created at {{ note.created_date.strftime("%Y-%m-%d at %H:%M") }}</small>
                    </div>
                </a>
            </div>

            {% endfor %}
            {% else %}
            <h4 class="text-muted"><i class="fas fa-question"></i> There are no shared notes!</h4>
            {% endif %}

        </div>
    </div>
    <hr class="my-4">

    <div class="card">

        <div class="card-body">
            <a href="{{ url_for('groups.get_out_group', group_id=group._id) }}" class="btn btn-outline-warning" role="button">Secession</a>
        </div>
    </div>

</div>

{% endblock %}