{% extends "base3.html" %}
{% block title %}
<title>Groups.io | Shared Groups</title>
{% endblock %}
{% block content %}

<div class="page-header container-fluid">

    <h1><i class="far fa-object-group"></i> <strong>Groups</strong><small class="text-muted"> shared</small></h1>

</div>
<hr>

<div class="list-group">

    <form class="form-inline my-2 my-lg-0" method="POST">
        {% if form %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search Groups" aria-label="Search" id="Search" name="Search" value="{{ form }}">
        {% else %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search Groups" aria-label="Search" id="Search" name="Search" value="{{ form }}">
        {% endif %}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br>

    {% if all_groups == [] %}
    <p class="text-muted"><i class="far fa-frown"></i>  No groups created.</p>
    {% else %}

    {% for group in all_groups %}

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start card">

        <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1"><i class="fas fa-object-group"></i> {{ group.name }}</h4>

            <p class="list-group-item-text">Created date {{ group.created_date.strftime("%Y-%m-%d at %H:%M") }}<strong></strong></p>
            <p class="list-group-item-text">{{ group.members|length }} Members</p>

        </div>
        <p class="mb-1"><span class="badge badge-pill badge-secondary"></span></p>

    </a>

    {% endfor %}

    {% endif %}

</div>
<br>
<a href="{{ url_for('groups.create_group') }}" class="btn btn-outline-success" role="button">Make a Group</a>

{% endblock %}