{% extends "base4.html" %}
{% block title %}

{% endblock %}
{% block content %}

<div class="container main-section" style="width: 100vw;" id="row-full">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 left-sidebar">
            <br><br><br>
            <hr>
            <div class="left-chat">
                <ul>
                    {% for user in users %}
                    <li>
                        <div class="chat-left-img">
                            <img src="/demo/businessman.png">
                        </div>
                        <div class="chat-left-detail">
                            <p>{{ user.nick_name }}</p>
                            <small class="text-muted">{{ user.email }}</small>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 right-sidebar">
            <div class="row">
                <div class="col-md-12 right-header">
                    <div class="right-header-img">
                        <img src="/demo/businessman.png">
                    </div>
                    <div class="right-header-detail">
                        <p>{{ chatbox_.name }}</p>
                        <span>{{ chatbox_.messages|length }} messages</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 right-header-contentChat">
                    <ul class="chat_log" id="my_list" style="overflow-y: auto;">
                        {% for message in messages %}
                        <li>
                            <div class="rightside-left-chat">
                                <span><i class="fa fa-circle" aria-hidden="true"></i> {{ message.sender_name }}<small>{{ message.created_date }}</small> </span><br><br>
                                <p>{{ message.content }}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 right-chat-textbox">
                    <form method="POST">
                        <input type="text" name="content" id="content" class="content" value=""><button type="submit" class="fa fa-arrow-right" aria-hidden="true"></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
    	var height = $(window).height();
    	$('.left-chat').css('height', (height - 100) + 'px');
    	$('.right-header-contentChat').css('height', (height - 100) + 'px');
    });
    $("#submit").click(function() {
        $(".msg_container_base").stop().animate({ scrollTop: $(".msg_container_base")[0].scrollHeight}, 1000);
});

    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on( 'connect', function() {
  socket.emit( 'send', {
    data: 'User Connected'
  })
  var form = $( 'form' ).on( 'submit', function( e ) {
    e.preventDefault()
    let content = $( 'input.content' ).val()
    socket.emit( 'submit', {
      content : content,
    })
  })
})
socket.on( 'chat response', function( msg ) {
            $( 'ul.chat_log' ).append('<li><div class="rightside-left-chat"><span><i class="fa fa-circle" aria-hidden="true"></i>  '+ msg.sender_name +'<small>  '+ msg.created_date +'</small> </span><br><br><p>'+ msg.content +'</p></div> </li>');
        console.log( msg );document.getElementById("content").value = "";});

</script>
{% endblock %}
