{% extends "base_htmls/base4.html" %}
{% block title %}
<title>Chatbox | {{ chatbox_.name }}</title>
{% endblock %}
{% block content %}
<%@page pageEncoding="UTF-8"%>

<div class="container-fluid" style="width: 100%;" id="row-full">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 left-sidebar">
            <br><br><br>
            <hr>
            <div class="left-chat">
                <ul class="">
                    {% for user in users %}
                    <li>
                        <div class="chat-left-img">
                            <img src="/demo/businessman.png">
                        </div>
                        <div class="chat-left-detail">
                            <p>{{ user.nick_name }}</p>
                            <small class="text-muted">{{ user.email }}</small>
                        </div>
                    </li>
                    {% endfor %}
                    <br>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 right-sidebar">
            <div class="row">
                <div class="col-md-12 right-header">
                    <div class="right-header-img">
                        <img src="/demo/businessman.png">
                    </div>
                    <div class="right-header-detail">
                        <p>{{ chatbox_.name }}</p>
                        <!--<div class="" id="">-->
                        <!--<span id="message_length">{{ chatbox_.messages|length }} messages</span>-->
                        <!--</div>-->

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 right-header-contentChat">
                    <ul class="chat_log" id="my_list" style="overflow: hidden">
                        {% for message in messages %}
                        {% if message.sender_id == session['_id'] %}
                        <li>
                            <div class="rightside-right-chat" style="overflow: hidden">
                                <span class="text-right"><i class="fa fa-circle" aria-hidden="true"></i> {{ message.sender_name }}<small>  {{ message.sended_date.strftime("%Y-%m-%d at %H:%M") }}</small> </span><br><br>
                                <p class="text-right">{{ message.content }}</p>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <div class="rightside-left-chat">
                                <span><i class="fa fa-circle" aria-hidden="true"></i> {{ message.sender_name }}<small>  {{ message.sended_date.strftime("%Y-%m-%d at %H:%M") }}</small> </span><br><br>
                                <p>{{ message.content }}</p>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 right-chat-textbox">
                    <form method="POST" autocomplete="off" accept-charset="UTF-8">
                        <input type="text" name="content" id="content" class="content" value=""><button type="submit" class="fa fa-arrow-right" aria-hidden="true"></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
    	var height = $(window).height();
    	$('.left-chat').css('height', (height - 250) + 'px');
    	$('.right-header-contentChat').css('height', (height - 250) + 'px');
    });
</script>
<script>
var session = "{{ session['_id'] }}";
var socket = io.connect('http://' + document.domain + ':' + location.port);
socket.on('connect', function() {
    socket.emit('send', {
        data: 'User Connected'
    })
    var form = $('form').on('submit', function(e) {
        e.preventDefault();
        let content = $('input.content').val();
        socket.emit('submit', {
            content: content,
        });
        $("#message_length").empty();
        $("#message_length").append(document.getElementById("my_list").getElementsByTagName("li").length + ' messages');
    })
})
socket.on('chat response', function(msg) {
            if (session === msg['sender_id']) {
                $('ul.chat_log').append('<li><div class="rightside-right-chat"><span><i class="fa fa-circle" aria-hidden="true"></i>  ' + msg.sender_name + '<small>  ' + msg.created_date + '</small> </span><br><br><p class="text-right">' + msg.content + '</p></div> </li>');
                console.log(msg);
                document.getElementById("content").value = "";
                $('#my_list').last().addClass('active-li').focus();
                $('#my_list').animate({scrollTop: $('#mylist').prop("scrollHeight")}, 500);
            } else {
                $('ul.chat_log').append('<li><div class="rightside-left-chat"><span><i class="fa fa-circle" aria-hidden="true"></i>  ' + msg.sender_name + '<small>  ' + msg.created_date + '</small> </span><br><br><p class="text-left">' + msg.content + '</p></div> </li>');
                console.log(msg);
                document.getElementById("content").value = "";
                $('#my_list').last().addClass('active-li').focus();
            }
        });

socket.on( 'response', function( data ) {

  if (data['data'].sender_name === $('ul li')) {
    if ( session === data['data'].sender_id ) {
      $( 'ul.chat_log' ).append('<li><div class="rightside-left-chat"><span><i class="fa fa-circle" aria-hidden="true"></i>  '+ msg.sender_name +'<small>  '+ msg.created_date +'</small> </span><br><br><p>'+ msg.content +'</p></div> </li>');
        console.log( msg );document.getElementById("content").value = "";
      $("#message_length").empty()
      $("#message_length").append(document.getElementById("my_list").getElementsByTagName("li").length + ' messages');
    }else{
      $( 'ul.chat_log' ).append('<li><div class="rightside-right-chat"><span><i class="fa fa-circle" aria-hidden="true"></i>  '+ msg.sender_name +'<small>  '+ msg.created_date +'</small> </span><br><br><p>'+ msg.content +'</p></div> </li>');
        console.log( msg );document.getElementById("content").value = "";
        $("#message_length").empty()
        $("#message_length").append(document.getElementById("my_list").getElementsByTagName("li").length + ' messages');
    }
     $('#my_list').last().addClass('active-li').focus();

   }
})

function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    // go back to the login page
                    window.location.href = "{{ url_for('chatboxs.chatboxs') }}";
                });
            }

</script>
{% endblock %}
