{% extends "base_htmls/base5.html" %}
{% block title %}
<title>Chatbox | {{ chatbox_.name }}</title>
{% endblock %}
{% block content %}

<div class="container-fluid" style="width: 100%; height: 100%;" id="row-full">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 left-sidebar">
            <br>
            <div class="dropdown">
                <button style="padding: 5px; color: inherit; width:100%;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog"></i> Menu
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="color: gray; width:100%;">
                    <button class="dropdown-item" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-sign-out-alt"></i>  Secession</button>
                    <button class="dropdown-item" data-toggle="modal" data-target="#inviteModal"><i class="fas fa-user-plus"></i>  Invite Friend</button>
                </div>
            </div>
            <hr>
            <div class="left-chat">
                <ul id="left_side_users">
                    {% for user in users %}
                    <li>
                        <div class="chat-left-img">
                            {% if user.picture == '' %}
                            <img src="{{ url_for('static', filename='img/index.jpg') }}">
                            {% else %}
                            <img src="{{ url_for('static', filename=user.picture) }}">
                            {% endif %}

                        </div>
                        <div class="chat-left-detail">
                            <a href="{{ url_for('users.user_page', user_id=user._id) }}" style=""><p>{{ user.nick_name }}</p></a>
                            <small class="text-muted">{{ user.email }}</small>
                        </div>
                    </li>
                    <br><br><br><br>
                    <hr>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 right-sidebar">
            <div class="row">
                <div class="col-md-12 right-header">
                    <div class="right-header-img">
                        <img src="{{ url_for('static' , filename='img/comments-regular.svg') }}">
                    </div>
                    <div class="right-header-detail">
                        <p>{{ chatbox_.name }}</p>
                        <!--<div class="" id="">-->
                        <!--<span id="message_length">{{ chatbox_.messages|length }} messages</span>-->
                        <!--</div>-->

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 right-header-contentChat" id="chatcontent">
                    <ul class="chat_log" id="my_list" style="overflow: hidden">
                        {% for message in messages %}
                        {% if message.message_bar %}
                        <li>
                            <div class="rightside-right-chat" style="overflow: hidden">
                                <hr>
                                <span class="text-right"><i class="fa fa-circle" aria-hidden="true"></i>{{ message.sender_name }}</span><br><br>
                                <p class="text-right">{{ message.content }}</p>
                            </div>
                        </li>
                        {% else %}
                        {% if message.sender_id == session['_id'] %}
                        <li>
                            <div class="rightside-right-chat" style="overflow: hidden">
                                <span class="text-right"><i class="fa fa-circle" aria-hidden="true"></i> {{ message.sender_name }}<small>  {{ message.sended_date.strftime("%Y-%m-%d at %H:%M") }}</small> </span><br><br>
                                <p class="text-right">{{ message.content }}</p>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <div class="rightside-left-chat">
                                <span><i class="fa fa-circle" aria-hidden="true"></i> {{ message.sender_name }}<small>  {{ message.sended_date.strftime("%Y-%m-%d at %H:%M") }}</small> </span><br><br>
                                <p>{{ message.content }}</p>
                            </div>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 right-chat-textbox">
                    <form method="POST" autocomplete="off" accept-charset="UTF-8">
                        <input type="text" name="content" id="content" class="content" value="">  <button type="submit" class="fa fa-arrow-right" aria-hidden="true" style="    border: none;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;border-radius: 50%;"></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-sign-out-alt"></i>  Secession</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i>
                    Do you really want to Secession this chatbox?
                    <p>If you secession this chatbox, you can't go back in until someone invites you!</p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <a href="{{ url_for('chatboxs.secession_chatbox', secession_chatbox_id=chatbox_._id) }}" class="btn btn-outline-danger" role="button"><i class="fas fa-sign-out-alt"></i>  Secession</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inviteModalLabel"><i class="fas fa-user-plus"></i> Invite friend</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="POST" id="addfriendpost" name="addfriendpost">
                    {% if user_friends == [] %}
                    <div class="oaerror info">
                        <p class=""><strong><i class="fas fa-user-slash"></i> Umm...</strong> - No friends. if you want to add friends, click
                            <a href="{{ url_for('users.add_friend') }}"><strong>here.</strong></a></p>
                    </div>
                    {% else %}
                    <label for="friend" class="">Friends <small class="text-muted">select</small></label>
                    <div class="list-group" id="friend">
                        {% for user in user_friends %}

                        <label class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <input type="checkbox" value="{{ user._id }}" name="user" id="user" />
                                <h5 class="mb-1">{{ user.nick_name }}</h5>
                                <small class="text-muted">Last logined at {{ user.last_logined.strftime("%Y-%m-%d at %H:%M") }}</small>
                            </div>
                        </label>

                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-outline-success" type="submit"><i class="far fa-plus-square"></i>  Invite</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
    	var height = $(window).height();
    	$('.left-chat').css('height', (height - 250) + 'px');
    	$('.right-header-contentChat').css('height', (height - 250) + 'px');
    });
</script>
<script>
var session = "{{ session['_id'] }}";
var socket = io.connect('http://' + document.domain + ':' + location.port);
socket.on('connect', function() {
    socket.emit('enter room_', {
        data: 'User Connected',
        sid: {{ chatbox_._id }}
    })
    var form = $('form').on('submit', function(e) {
        e.preventDefault();
        let content = $('input.content').val();
        socket.emit('submit', {
            content: content,
        });
    })
})
socket.on('connect', function() {
    socket.emit('send', {
        data: 'User Connected'
    });
    var form = $('#addfriendpost').on('submit', function(e) {
        e.preventDefault();

        socket.emit('addfriend', {
            data_: $.each($('#user').serializeArray(), function(i, field) { var values = [];
                values[field.name] = field.value;
            })
        });
    })
})

socket.on('addfriend response', function(msg) {
  for (var i in msg.user_objs) {
              $("#left_side_users").append('<li><div class="chat-left-img"><img src='+ msg.user_objs[i].user_photo_path + '></div><div class="chat-left-detail"><a href="'+ msg.user_objs[i].user_url +'" style=""><p>'+ msg.user_objs[i].user_name + '</p></a><small class="text-muted">'+ msg.user_objs[i].user_email +'</small></div></li>')
  };
});

socket.on('chat response', function(msg) {
    if (session === msg['sender_id']) {
        $('ul.chat_log').append('<li><div class="rightside-right-chat"><span><i class="fa fa-circle" aria-hidden="true"></i>  ' + msg.sender_name + '<small>  ' + msg.created_date + '</small> </span><br><br><p class="text-right">' + msg.content + '</p></div> </li>');
        console.log(msg);
        document.getElementById("content").value = "";
    } else {
        $('ul.chat_log').append('<li><div class="rightside-left-chat"><span><i class="fa fa-circle" aria-hidden="true"></i>  ' + msg.sender_name + '<small>  ' + msg.created_date + '</small> </span><br><br><p class="text-left">' + msg.content + '</p></div> </li>');
        console.log(msg);
        document.getElementById("content").value = "";

    }
    var objDiv = document.getElementById("chatcontent");
    objDiv.scrollTop = objDiv.scrollHeight;
});

socket.on('response', function(data) {

    if (data['data'].sender_name === $('ul li')) {
        if (session === data['data'].sender_id) {
            $('ul.chat_log').append('<li><div class="rightside-left-chat"><span><i class="fa fa-circle" aria-hidden="true"></i>  ' + msg.sender_name + '<small>  ' + msg.created_date + '</small> </span><br><br><p>' + msg.content + '</p></div> </li>');
            console.log(msg);
            document.getElementById("content").value = "";
            $("#message_length").empty()
            $("#message_length").append(document.getElementById("my_list").getElementsByTagName("li").length + ' messages');
        } else {
            $('ul.chat_log').append('<li><div class="rightside-right-chat"><span><i class="fa fa-circle" aria-hidden="true"></i>  ' + msg.sender_name + '<small>  ' + msg.created_date + '</small> </span><br><br><p>' + msg.content + '</p></div> </li>');
            console.log(msg);
            document.getElementById("content").value = "";
            $("#message_length").empty()
            $("#message_length").append(document.getElementById("my_list").getElementsByTagName("li").length + ' messages');
        }
        var objDiv = document.getElementById("chatcontent");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
})

function leave_room() {
    socket.emit('left', {}, function() {
        socket.disconnect();
        // go back to the login page
        window.location.href = "{{ url_for('chatboxs.chatboxs') }}";
    });
}
</script>
<script>
function goBack() {
    window.history.back();
}
</script>
{% endblock %}
