{% extends "base_htmls/base4.html" %}
{% block title %}
<title>Chatbox | Create chat</title>
{% endblock %}
{% block content %}

<div class="container">
    <br><br><br>
    <div class="page-header">
        <h1 class="title"><i class="far fa-comment"></i> Create Chatbox</h1>
        <p>Create a chatbox with your friends!</p>
    </div>
    {% if error_msg %}
    <div class="oaerror warning">
        <strong><i class="fas fa-binoculars"></i>  Error</strong> - {{ error_msg }}
    </div>
    {% endif %}

    <div class="shadow p-3 mb-5 bg-white rounded">
        <form method="POST">

            <div class="form-group">
                <label for="title">Chatbox Name</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Example title" aria-describedby="titleBlock" value="{{ title }}" required>

                <small id="titleBlock" class="form-text text-muted">Your chatbox's name goes here!</small>
            </div>

            {% if user_friends == [] %}
            <div class="oaerror info">
                <p class=""><strong><i class="far fa-frown"></i> Umm...</strong> - No friends. if you want to add friends, click
                    <a href="{{ url_for('users.add_friend') }}"><strong>here.</strong></a></p>
            </div>
            {% else %}
            <label for="friend" class="">Friends <small class="text-muted">select</small></label>
            <div class="list-group" id="friend">
                {% if default %}
                {% for user in user_friends %}

                <label class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <input type="checkbox" value="{{ user._id }}" name="user" checked>
                        <h5 class="mb-1">{{ user.nick_name }}</h5>
                        <small class="text-muted">Last logined at {{ user.last_logined.strftime("%Y-%m-%d at %H:%M") }}</small>
                    </div>
                </label>

                {% endfor %}
                {% else %}
                {% for user in user_friends %}

                <label class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <input type="checkbox" value="{{ user._id }}" name="user">
                        <h5 class="mb-1">{{ user.nick_name }}</h5>
                        <small class="text-muted">Last logined at {{ user.last_logined.strftime("%Y-%m-%d at %H:%M") }}</small>
                    </div>
                </label>

                {% endfor %}
                {% endif %}
            </div>
            {% endif %}

            <br>
            <div class="card">
                <div class="card-body">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

        </form>
    </div>

</div>

{% endblock %}