{% extends "base4.html" %}
{% block title %}
<title>Chatboxes | User Chatboxes</title>
{% endblock %}
{% block content %}
<br><br>
<div class="container">

    <div class="page-header">
        <h1><i class="fab fa-rocketchat"></i> Your Chatboxes <small class="text-muted">total: {{ chatboxes|length }}</small></h1>
        <hr>
    </div>

    <div class="list-group">
        {% if chatboxes == [] %}
        <p class="text-muted"><i class="far fa-frown"></i>  No Chatboxes created.</p>
        {% else %}

        {% for chatbox in chatboxs %}

        <a href="{{ url_for('chatboxs.chatbox', chatbox_id=chatbox._id) }}" class="list-group-item list-group-item-action flex-column align-items-start card group">

            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1"><i class="fas fa-object-group"></i> {{ chatbox.name }}</h4>

                <p class="list-group-item-text">Created date {{ chatbox.created_date.strftime("%Y-%m-%d at %H:%M") }}<strong></strong></p>
                <p class="list-group-item-text">{{ chatbox.user_ids|length }} Members</p>

            </div>
            <p class="mb-1"><span class="badge badge-pill badge-secondary"></span></p>

        </a>

        {% endfor %}

        {% endif %}
        <div class="card">
            <div class="card-body">
                <a href="{{ url_for('chatboxs.create_chatbox', default_members=[]) }}" class="btn btn-outline-secondary" role="button">Create new Chatbox</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}