<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon3.ico') }}">
    {% block title %}

    {% endblock %}

    <!--<script>-->

    <!--var myVar = setInterval(myTimer, 1000);-->

    <!--function myTimer() {-->
    <!--$(document).ready(function(){-->
    <!--$('#close').trigger('click');-->
    <!--});-->
    <!--}-->
    <!--</script>-->

    {% include 'html_dependencies.html' %}
</head>
<div class="content container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" id="close" name="close">&times;</a>
        <i class="fas fa-info-circle"></i>  {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock %}
</div>
