<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon2.ico') }}">
    {% block title %}

    {% endblock %}

    <!--<script>-->

    <!--var myVar = setInterval(myTimer, 1000);-->

    <!--function myTimer() {-->
    <!--$(document).ready(function(){-->
    <!--$('#close').trigger('click');-->
    <!--});-->
    <!--}-->
    <!--</script>-->

    {% include 'html_dependencies.html' %}
</head>
<body>
<br><br><br>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

    <div class="container">

        <div class="navbar-header">

            <a href="{{ url_for('home3') }}" class="navbar-brand" title="Home"><i class="fas fa-users"></i>  Groups <small class="text-muted">for note-it™</small></a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">

            {% if session['email'] %}

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a href="{{ url_for('groups.groups') }}" class="nav-link"><i class="far fa-object-group"></i> Groups</a></li>
                <li class="nav-item active"><a href="{{ url_for('home') }}" class="nav-link"><i class="fas fa-home"></i> Go to home</a></li>
                <li class="nav-item active"><a href="{{ url_for('groups.my_group') }}" class="nav-link"><i class="far fa-id-badge"></i> My group</a></li>
                {% block navbar__ %}
                {% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right justify-content-end ">
                <li class="nav-item active"><a href="{{ url_for('users.logout_user') }}" class="nav-link"><i class="fas fa-sign-out-alt"></i>    Log out</a></li>
            </ul>

            {% else %}

            <ul class="nav navbar-nav navbar-right justify-content-end ml-auto">
                <li class="nav-item active"><a href="{{ url_for('users.register_user') }}" class="nav-link"><i class="fas fa-user-plus"></i>   Sign up</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right justify-content-end">
                <li class="nav-item active"><a href="{{ url_for('users.login_user') }}" class="nav-link"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
            </ul>

            {% endif %}


        </div>

    </div>

</nav>

{% block navbar %}

{% endblock %}

<br>

<div class="content container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" id="close" name="close">&times;</a>
        <i class="fas fa-info-circle"></i>  {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock %}
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<footer>

    <div class="footer-size jumbotron container-fluid bg-4 text-center">

        <h7><span class="glyphicon glyphicon-console"></span> Made by <a href="https://www.jetbrains.com/pycharm/">Pycharm</a>
            and
            <a href="http://flask.pocoo.org/">Flask</a> and <i class="fab fa-python"></i> <a href="https://www.python.org/">Python</a></h7>

    </div>

</footer>
</body>
</html>