<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}

    {% endblock %}

    {% include 'html_dependencies.html' %}
</head>
<body>
    <br><br><br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light  fixed-top">

        <div class="container">

            <div class="navbar-header">

                <a href="/" class="navbar-brand" title="Home">Note-it™|</a><a href="{{ url_for('home2') }}" class="navbar-brand"><i class="fas fa-envelope-square"></i> Message Center™</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">

                {% if session['email'] %}

                    <ul class="nav navbar-nav navbar-right justify-content-end ml-auto">
                        <li class="nav-item active"><a href="{{ url_for('message.my_recived_messages', user_id=session['_id']) }}" class="nav-link"><i class="fas fa-envelope"></i> Received Messages</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right justify-content-end ">
                        <li class="nav-item active"><a href="{{ url_for('message.my_sended_messages', user_id=session['_id']) }}" class="nav-link"><i class="fas fa-envelope"></i> Sended Messages</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right justify-content-end ">
                        <li class="nav-item active"><a href="{{ url_for('message.send_message') }}" class="nav-link"><i class="fas fa-external-link-square-alt"></i> Send Message</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right justify-content-end ">
                        <li class="nav-item active"><a href="{{ url_for('users.logout_user') }}" class="nav-link"><i class="fas fa-sign-out-alt"></i>    Log out</a></li>
                    </ul>

                {% else %}

                    <ul class="nav navbar-nav navbar-right justify-content-end ml-auto">
                        <li class="nav-item active"><a href="{{ url_for('users.register_user') }}" class="nav-link"><i class="fas fa-user-plus"></i>   Sign up</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right justify-content-end">
                        <li class="nav-item active"><a href="{{ url_for('users.login_user') }}" class="nav-link"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
                    </ul>

                {% endif %}


            </div>

        </div>

    </nav>

    {% block navbar %}

    {% endblock %}

    <br>

    <div class="content container">
        {% block content %}

        {% endblock %}
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <footer>

        <div class="footer-size jumbotron">

            <h7><span class="glyphicon glyphicon-console"></span> Made by <a href="https://www.jetbrains.com/pycharm/">Pycharm</a>
                and
                <a href="http://flask.pocoo.org/">Flask</a> and <i class="fab fa-python"></i> <a href="https://www.python.org/">Python</a></h7>

            <hr class="my-4">

            <div class="alert alert-warning" role="alert">
                 <h5><i class="fas fa-exclamation-triangle"></i> WARNING: This page is still in test state. The full
                            version would be out soon!!
                 </h5>
            </div>

        </div>

    </footer>
</body>
</html>