{% extends "base2.html" %}
{% block title %}
    <title>Note-it™ | Message {{ message.title }}</title>
{% endblock %}

{% block content %}

    <div class="container card" style="background-color: #e8e8e8;">

        <div class="card-body">

            {% if is_a_note %}

                <p class="text-center font-weight-light">message</p>
                <h1 class="text-center font-weight-bold">{{ message.title }}</h1>

                <p class="font-weight-normal font-italic text-right text-center">From: {{ sender_nickname }}</p>
                {% if reciver_nickname.__class__.__name__ in ('list') %}
                    <p class="font-weight-normal font-italic text-right text-center">To: {{ ' / '.join(reciver_nickname) }}</p>

                {% else %}

                    <p class="font-weight-normal font-italic text-right text-center">To:</p>

                {% endif %}

                <p class="font-weight-normal font-italic text-right">Sended At: {{ message.sended_date.strftime("%Y-%m-%d at %H:%M") }}</p>
                {% if message.readed_by_reciver != False %}
                    <p class="font-weight-normal font-italic text-right">Readed At: {{ message.readed_date.strftime("%Y-%m-%d at %H:%M") }}</p>
                {% else %}
                    <p class="font-weight-normal font-italic text-right">Readed At:                                                        </p>
                {% endif %}

                <hr class="my-4">

                <h5>Content</h5>
                <br>

                <div class="container jumbotron" style="background-color:#fffd89; width:500px; margin:10px;">
                    <h3>{{ note.title }}</h3>
                    <hr class="my-4">
                    <p class="font-weight-light">{{ note.content }}</p>

                    <p class="text-muted text-right">Created At: {{ note.created_date.strftime("%Y-%m-%d at %H:%M") }}</p>

                    <a href="{{ url_for('notes.note', note_id=note._id) }}" class="text-muted">Go see this note</a>
                </div>

            {% else %}

                <p class="text-center font-weight-light">message</p>
                <h1 class="text-center font-weight-bold">{{ message.title }}</h1>


                <p class="font-weight-normal font-italic text-right text-center">From: {{ sender_nickname }}</p>
                {% if reciver_nickname.__class__.__name__ in ('list') %}
                    <p class="font-weight-normal font-italic text-right text-center">To: {{ ' / '.join(reciver_nickname) }}</p>

                {% else %}

                    <p class="font-weight-normal font-italic text-right text-center">To:</p>

                {% endif %}

                <p class="font-weight-normal font-italic text-right">Sended At: {{ message.sended_date.strftime("%Y-%m-%d at %H:%M") }}</p>
                {% if message.readed_by_reciver != False %}
                    <p class="font-weight-normal font-italic text-right">Readed At: {{ message.readed_date.strftime("%Y-%m-%d at %H:%M") }}</p>
                {% else %}
                    <p class="font-weight-normal font-italic text-right">Readed At:                                                        </p>
                {% endif %}

                <hr class="my-4">

                <h5>Content</h5>
                <br>
                <p class="font-italic">{{ message.content }}</p>

            {% endif %}
        </div>

    </div>

    <hr class="my-4">

    <div class="card container">

        <div class="card-body">

            <a class="btn btn-outline-primary" href="#">Re-Send</a>
            <a class="btn btn-outline-warning" href="{{ url_for('message.delete_message', message_id=message._id) }}">Delete</a>

        </div>

    </div>

{% endblock %}