{% extends "base.html" %}
{% block title %}
<title>Note-it™ | Delete boxes</title>
{% endblock %}
{% block content %}

<div class="page-header">

    <h1><i class="fas fa-archive"></i> <strong>{{ user_name.split('@')[0] }}</strong>'s Boxes - Select and Delete</h1>

</div>

<hr class="my-4">

<!--<form class="form-inline my-2 my-lg-0" method="POST" action="">-->
    <!--{% if form %}-->
    <!--<input class="form-control mr-sm-2" type="search" placeholder="Search Notes" aria-label="Search" id="Search_note" name="Search_note" value="{{ form }}">-->
    <!--{% else %}-->
    <!--<input class="form-control mr-sm-2" type="search" placeholder="Search Notes" aria-label="Search" id="Search_note" name="Search_note" value="{{ form }}">-->
    <!--{% endif %}-->
    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--</form>-->


<form method="POST">
    <div class="list-group">

        {% if user_boxs == [] or user_boxs == None %}

        <div class="alert alert-primary" role="alert"><i class="fas fa-info-circle"></i>
            There are no boxes to delete!
        </div>

        {% endif %}
        <br>
        {% for box in user_boxs %}

        <label class="list-group-item list-group-item-action flex-column align-items-start">

            <div class="d-flex w-100 justify-content-between">
                <input type="checkbox" name="delete" id="{{box._id}}" value="{{ box._id }}">
                <h4 class="mb-1"><a href="{{ url_for('boxs.box', box_id=box._id) }}" ><i class="fas fa-box-open"></i>
                    {{ box.name }}</a></h4>

                <p class="list-group-item-text">Created date <strong>{{ box.created_date.strftime("%Y-%m-%d at %H:%M") }}</strong></p>

            </div>
            <p class="mb-1"><span class="badge badge-pill badge-secondary">Total: {{ box.notes|length }}</span></p>

        </label>

        {% endfor %}
    </div>

    <br>
    <a href="#" class="btn btn-outline-danger" role="button" data-toggle="modal" data-target="#exampleModal">Delete</a>
    <a href="{{ url_for('notes.user_notes') }}">  Go back</a>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-trash-alt"></i>  Delete note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i>
                        Do you really want to delete these boxes?
                        <p>If you delete these notes, it would be permanently deleted!</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-danger" style="">Delete</button>
                </div>
            </div>
        </div>
    </div>

</form>
{% endblock %}